<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- STAR:DOM database (XAMPP MySQL, root has no password). Change to match your server. -->
    <add name="STAR_DOM"
         connectionString="Server=localhost;Port=3306;Database=stardom;User Id=root;Password=;SslMode=none;AllowPublicKeyRetrieval=True;CharSet=utf8mb4;Convert Zero Datetime=True;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="STAR:DOM Artisan &amp; Pop-up Hub" />
    <add key="CurrencySymbol" value="₱" />
    <add key="LowStockThreshold" value="5" />
    <add key="Receipt.RegisteredName" value="STAR:DOM Artisan Marketplace &amp; Pop-up Tour" />
    <add key="Receipt.IssuerTin" value="000-000-000-000" />
    <add key="Receipt.IssuerAddress" value="Unit 12, South Luzon Atelier, Santa Rosa, Laguna" />
    <add key="Receipt.AccreditationNo" value="PTU-2026-00015" />
    <add key="Receipt.LineOfBusiness" value="On-line selling of artisan goods &amp; commission services" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="2.0" />
    <sessionState mode="InProc" timeout="120" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="App/Marketplace.aspx" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
